/node_modules/
/public/hot





/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/public/.DS_Store
yarn.lock
/build
Envoy.blade.php
/coverage
storage/app/public/storage
\.php_cs\.cache
public/js
public/css
